@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sky-blue: #f5f8ff;
}


body {
  color: var(--foreground);
  background: var(--background);
}
